.view#home {
    padding: 0px;
}
.view#home .logo {
    position: absolute;
    top: 32%;
    left: 39%;
    width: 22%;
    height: 36%;
    z-index: 2;
}
.view#home .botao {
    text-align: center;
    display: flex;
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: all 0.7s;
}
.view#home .botao:hover,
.view#home .botao:focus {
    background-color: rgba(84, 255, 167, 0.32) !important;
    color: white;
}
.view#home .botao-conteudo {
    margin: auto;
}
.view#home .botao h2 {
    margin: 0px 0px 10px;
    font-size: 24px;
    font-weight: 300;
}
.view#home .botao#botao-quem-somos {
    background: radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.92) 15%, rgba(0, 0, 0, 0) 100%);
}
.view#home .botao#botao-portfolio {
    background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.92) 15%, rgba(0, 0, 0, 0) 100%);
}
.view#home .botao#botao-portfolio i {
    padding: 18px 15px 12px;
}
.view#home .botao#botao-blog {
    background: radial-gradient(circle at top right, rgba(0, 0, 0, 0.92) 15%, rgba(0, 0, 0, 0) 100%);
}
.view#home .botao#botao-contato {
    background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.92) 15%, rgba(0, 0, 0, 0) 100%);
}
.view#home .fa-in-circle {
    font-size: 45px;
    height: 80px;
    width: 80px;
    border: 1px solid;
    border-radius: 50px;
    padding: 15px;
}